@media only screen and (min-width: 500px) {
    .section-decoration {
        height: 300px;
        width: 300px;
    }

    .section-news {
        margin-bottom: -210px;
    }

    .section-news__decoration {
        top: -210px;
    }

    .section-inspired {
        margin-bottom: -230px;
    }

    .section-inspired__decoration {
        top: -230px;
    }

    .section-contact {
        margin-bottom: -250px;
    }

    .section-contact__decoration {
        top: -250px;
        left: -40px;
    }

    .productscover-container {
        margin: -70px;
    }

    .productscover-container img {
        margin-top: 80px;
    }

    .products-container {
        padding-top: 150px;
    }
}

@media only screen and (min-width: 700px) {
    footer {
        flex-direction: row;
        align-items: baseline;
        padding: 50px;
    }

    .productscover-container {
        margin: -80px;
    }
}

@media only screen and (min-width: 800px) {
    .content-wrapper {
        max-width: 1000px;
        margin: auto;
        padding: 0px 50px 50px 50px;
    }

    .hamburger-label {
        display: none;
    }

    .hamburger-container {
        justify-content: flex-start;
        gap: 40px;
    }

    nav {
        background: none;
        display: inline;
    }

    nav ul {
        display: flex;

        gap: 70px;
    }

    li a {
        color: var(--brown);
        padding-right: 5px;
    }

    .navigation-contact {
        color: var(--black);
    }

    h1 {
        margin-top: 70px;
        text-align: center;
        font-size: 54px;
    }

    h2 {
        font-size: 38px;
        margin-top: 30px;
    }

    .section {
        display: flex;
        gap: 50px;
        margin-top: 80px;
    }

    .section-news,
    .section-contact {
        flex-direction: row-reverse;
    }

    .section-inspired {
        margin-bottom: -270px;
    }

    .section-inspired__decoration {
        left: 100px;
        top: -370px;
    }

    .cta {
        padding: 10px 18px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .products-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (min-width: 900px) {
    .section-inspired__decoration {
        left: 160px;
        top: -390px;
    }
}

@media only screen and (min-width: 1000px) {
    .section-inspired__decoration {
        left: 220px;
        top: -430px;
    }

    .section {
        gap: 120px;
    }

    .section-content {
        max-width: 350px;
    }

    h2 {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 1100px) {
    .navigation-contact {
        margin-left: 280px;
    }

    h1 {
        margin-top: 50px;
        font-size: 58px;
        text-align: left;
        margin-left: 192px;
    }

    .section-news__decoration {
        left: -80px;
        top: -240px;
    }

    .section-inspired__decoration {
        left: 300px;
        top: -480px;
    }

    .section-contact__decoration {
        left: -110px;
        top: -400px;
    }

    .fa-couch {
        display: inline;
    }
}
