@import "imports/variables.css";

.productscover-container {
    min-width: 100%;
    margin: -50px;
}

.productscover-container img {
    margin-top: 50px;
}

.productscover-container img,
.product__image img {
    filter: brightness(0.9) saturate(115%);
}

.products-container {
    padding-top: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.product {
    background-color: white;
    max-width: 300px;
    padding: 0px;
}

.product img {
    margin-top: 0px;
}

.product__text {
    padding: 5px 20px 20px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.product__text p {
    font-size: 18px;
    color: var(--brown);
}

.product__text img {
    max-width: 30px;
    padding-left: 10px;
}
