@import "imports/variables.css";

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url("../assets/fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Active";
    src: url("../assets/fonts/ActiveRegular.OTF") format("opentype");
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: "Open Sans";
    color: var(--black);
}

.texture-background {
    background-image: url("../assets/images/ep_naturalwhite.jpg");
    margin: auto;
}

.content-wrapper {
    max-width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.logo {
    max-width: 150px;
}

nav,
#hamburger-menu {
    display: none;
}

nav li {
    list-style-type: none;
    margin-left: -40px;
    color: var(--white);
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.hamburger-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.hamburger-label {
    color: var(--black);
    font-size: 28px;
    z-index: 100;
}

#hamburger-menu:checked ~ nav {
    display: inline-block;
    position: absolute;
    margin-top: 350px;
    z-index: 150;
    background-color: var(--green);
    padding: 15px 30px;
    right: 0px;
    left: 0px;
    box-shadow: 3px 0px 3px var(--black);
}

.fa-couch {
    display: none;
    margin-left: 10px;
}

h1,
h2 {
    font-family: "Active";
    color: var(--brown);
    margin-top: 50px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

img {
    max-width: 100%;
    margin-top: 30px;
}

.cta {
    border-radius: 100px;
    padding: 8px 15px;
    border: none;
    color: var(--white);
    font-family: "Open Sans Semibold";
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
}

.cta-green {
    background-color: var(--green);
}

.cta-brown {
    background-color: var(--brown);
}

.cta-tintedgreen {
    background-color: var(--tinted-green);
}

footer {
    justify-content: space-between;
    background-color: var(--green);
    color: var(--white);
    font-size: 12px;
    padding: 25px;
}

footer,
.footer-social {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--white);
}

.footer-credit,
.footer-contact {
    margin-top: 30px;
}

.footer__firstline {
    padding-bottom: 10px;
    font-weight: 700;
}

.footer-social a {
    margin-bottom: 10px;
}

.fa-brands {
    padding-left: 10px;
    font-size: 15px;
}

.wrapper {
    flex: 1 0 auto;
}

.section-decoration {
    content: "";
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 1000px;
    position: relative;
}

.section-content,
.news-image,
.inspired-image,
.contact-image {
    position: relative;
    z-index: 100;
}

.section-news {
    margin-bottom: -150px;
}

.section-news__content h2 {
    color: var(--green);
}

.section-news__decoration {
    background-color: var(--green);
    top: -150px;
    left: -30px;
}

.section-inspired {
    margin-bottom: -130px;
}

.section-inspired__decoration {
    background-color: var(--brown);
    top: -170px;
    left: -25px;
}

.section-contact {
    margin-bottom: -160px;
}

.section-contact__content h2 {
    color: var(--tinted-green);
}

.section-contact__decoration {
    background-color: var(--tinted-green);
    top: -160px;
    left: -20px;
}
