@import "imports/variables.css";

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Active";
    src: url("../assets/fonts/ActiveRegular.OTF") format("opentype");
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: "Open Sans";
    color: var(--black);
}

.texture-background {
    background-image: url("../assets/images/ep_naturalwhite.jpg");
    margin: auto;
}

.content-wrapper {
    max-width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.logo {
    max-width: 150px;
}

nav,
#hamburger-menu {
    display: none;
}

nav li {
    list-style-type: none;
    margin-left: -40px;
    color: var(--white);
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.hamburger-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.hamburger-label {
    color: var(--black);
    font-size: 28px;
    z-index: 100;
}

#hamburger-menu:checked ~ nav {
    display: inline-block;
    position: absolute;
    margin-top: 350px;
    z-index: 150;
    background-color: var(--green);
    padding: 15px 30px;
    right: 0px;
    left: 0px;
    box-shadow: 3px 0px 3px var(--black);
}

h1,
h2 {
    font-family: "Active";
    color: var(--brown);
    margin-top: 50px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

img {
    max-width: 100%;
    margin-top: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--green);
    color: var(--white);
    font-size: 12px;
    padding: 25px;
}

a {
    text-decoration: none;
    color: var(--white);
}

.footer-credit {
    margin-top: 30px;
}

.footer__firstline {
    padding-bottom: 10px;
    font-weight: 700;
}

.wrapper {
    flex: 1 0 auto;
}

.section-decoration {
    content: "";
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 1000px;
    position: relative;
}

.section-content,
.news-image,
.inspired-image,
.contact-image {
    position: relative;
    z-index: 100;
}

.section-news {
    margin-bottom: -150px;
}

.section-news__content h2 {
    color: var(--green);
}

.section-news__decoration {
    background-color: var(--green);
    top: -150px;
    left: -30px;
}

.section-inspired {
    margin-bottom: -130px;
}

.section-inspired__decoration {
    background-color: var(--brown);
    top: -170px;
    left: -25px;
}

.section-contact {
    margin-bottom: -160px;
}

.section-contact__content h2 {
    color: var(--tinted-green);
}

.section-contact__decoration {
    background-color: var(--tinted-green);
    top: -160px;
    left: -20px;
}

@media only screen and (min-device-width: 500px) {
    .section-decoration {
        height: 300px;
        width: 300px;
    }

    .section-news {
        margin-bottom: -210px;
    }

    .section-news__decoration {
        top: -210px;
    }

    .section-inspired {
        margin-bottom: -230px;
    }

    .section-inspired__decoration {
        top: -230px;
    }

    .section-contact {
        margin-bottom: -250px;
    }

    .section-contact__decoration {
        top: -250px;
        left: -40px;
    }
}

@media only screen and (min-device-width: 700px) {
    footer {
        flex-direction: row;
        align-items: baseline;
        padding: 50px;
    }
}

@media only screen and (min-device-width: 800px) {
    .content-wrapper {
        max-width: 1000px;
        margin: auto;
        padding: 0px 50px 50px 50px;
    }

    .hamburger-label {
        display: none;
    }

    .hamburger-container {
        justify-content: flex-start;
        gap: 40px;
    }

    nav {
        background: none;
        display: inline;
    }

    nav ul {
        display: flex;

        gap: 70px;
    }

    nav li {
        padding-right: 5px;
        color: var(--brown);
    }

    .navigation-contact {
        color: var(--black);
    }

    h1 {
        margin-top: 70px;
        text-align: center;
        font-size: 54px;
    }

    h2 {
        font-size: 38px;
    }

    .section {
        display: flex;
        gap: 50px;
        margin-top: 80px;
    }

    .section-news,
    .section-contact {
        flex-direction: row-reverse;
    }

    .section-inspired {
        margin-bottom: -270px;
    }

    .section-inspired__decoration {
        left: 100px;
        top: -370px;
    }
}

@media only screen and (min-device-width: 900px) {
    .section-inspired__decoration {
        left: 160px;
        top: -390px;
    }
}

@media only screen and (min-device-width: 1000px) {
    .section-inspired__decoration {
        left: 220px;
        top: -430px;
    }
}

@media only screen and (min-device-width: 1100px) {
    .navigation-contact {
        margin-left: 280px;
    }

    h1 {
        margin-top: 100px;
        font-size: 58px;
    }

    .section-news__decoration {
        left: -80px;
        top: -240px;
    }

    .section-inspired__decoration {
        left: 300px;
        top: -480px;
    }

    .section-contact__decoration {
        left: -110px;
        top: -400px;
    }
}
